<surety-transfer-side-info></surety-transfer-side-info>
<div class="d-flex-header">
  <div class="statistics">
    <div class="item">
      <mat-icon svgIcon="doc"></mat-icon>
      <span class="title">{{ 'all_orders' | translate }}</span>
      <span class="f-weight-500" *ngIf="waiverStatistics">{{ waiverStatistics.totalCount }}</span>
    </div>
    <div class="item">
      <mat-icon svgIcon="switch-rounded"></mat-icon>
      <span class="title">{{ 'refund_count' | translate }}</span>
      <span class="f-weight-500" *ngIf="waiverStatistics">{{ waiverStatistics.sponsorshipTransferredCount }}</span>
    </div>
    <div class="item">
      <mat-icon svgIcon="not-moved-yet"></mat-icon>
      <span class="title">{{ 'waiver_count' | translate }}</span>
      <span class="f-weight-500" *ngIf="waiverStatistics">{{ waiverStatistics.sponsorshipNotTransferredCount }}</span>
    </div>
    <div class="item">
      <mat-icon svgIcon="not-moved-yet"></mat-icon>
      <span class="title">{{ 'rent_count' | translate }}</span>
      <span class="f-weight-500" *ngIf="waiverStatistics">{{ waiverStatistics.sponsorshipNotTransferredCount }}</span>
    </div>
  </div>
  <mat-form-field [dir]="getDirection()" class="input-table">
    <mat-icon
      matSuffix
      class="icon"
      [svgIcon]="getDirection() === 'rtl' ? 'search-right' : 'search-left'"></mat-icon>
    <input matInput (input)="getDeepWithFilter($event)" [placeholder]="'search_for_order' | translate" />
  </mat-form-field>
</div>

<ag-grid-angular
  id="myGrid"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [rowData]="listData"
  [enableRtl]="true"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOptions"></ag-grid-angular>
<ag-pagination
  (pageChanged)="onSetPage($event)"
  [pageSize]="paginationOptions.pageSize"
  [lengthData]="paginationOptions.totalCount"></ag-pagination>
