.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    font-family: 'Tajawal', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: var(--primary-color);
  }
}
.toast-header .title {
  margin: 0 0.5rem;
}
.mismatch-passwords-msg {
  max-width: 420px;
  line-height: 1.3;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  color: #f44336;
  font-size: 14px;
}
