<mat-dialog-content class="toast">
  <form novalidate [formGroup]="form" (ngSubmit)="confirmChangePassword()">
    <div class="toast-container">
      <!-- Header -->
      <div class="toast-header bg-white p-2">
        <ul class="breadcrumb d-flex flex-row-reverse align-center list-none">
          <span class="active title" *ngIf="!passedData?.userId"> {{ 'change_your_password' | translate }}</span>
          <span class="active title" *ngIf="passedData?.userId"> {{ 'change_user_password' | translate }}</span>
          <mat-icon svgIcon="change-password" class="title-icon" style="color: var(--primary-color)"></mat-icon>
        </ul>
        <mat-icon svgIcon="close" class="c-pointer" (click)="closeDialog()"> </mat-icon>
      </div>
      <div class="bg-body">
        <div class="contant bg-white p-2">
          <!-- Body -->
          <div class="toast-content">
            <!-- Old Password -->
            <mat-custom-field
              controlName="oldPassword"
              label="current_password"
              [group]="form"
              [cursorStatus]="true"
              [type]="passwordVisibility.oldPassword ? 'text' : 'password'"
              [suffix]="passwordVisibility.oldPassword ? 'eye-open' : 'eye-close'"
              (onSuffixCLicked)="togglePasswordVisibility('oldPassword')">
            </mat-custom-field>
            <!-- New Password -->
            <mat-custom-field
              controlName="newPassword"
              label="password"
              [group]="form"
              [cursorStatus]="true"
              [type]="passwordVisibility.newPassword ? 'text' : 'password'"
              [suffix]="passwordVisibility.newPassword ? 'eye-open' : 'eye-close'"
              (onSuffixCLicked)="togglePasswordVisibility('newPassword')">
            </mat-custom-field>
            <!-- Confirm Password -->
            <mat-custom-field
              controlName="confirmPassword"
              label="confirm_password"
              [group]="form"
              [cursorStatus]="true"
              [type]="passwordVisibility.confirmPassword ? 'text' : 'password'"
              [suffix]="passwordVisibility.confirmPassword ? 'eye-open' : 'eye-close'"
              (onSuffixCLicked)="togglePasswordVisibility('confirmPassword')">
            </mat-custom-field>

            <p class="mt-2" class="mismatch-passwords-msg" *ngIf="showMismatchMessage">
              {{ 'mismatch-passwords-msg' | translate }}
            </p>
          </div>

          <!-- Footer -->
          <div class="toast-footer d-flex align-center mt-4 gap-1">
            <!-- Submit -->
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
              {{ 'buttons.change' | translate }}
              <mat-spinner [diameter]="30" *ngIf="loading" class="mx-1"></mat-spinner>
            </button>

            <!-- Add -->
            <button mat-stroked-button color="primary" type="button" (click)="closeDialog()">
              {{ 'buttons.cancel' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
