<!-- Statistics -->
<div class="d-flex-header">
  <div class="statistics">
    <div class="item">
      <mat-icon svgIcon="statistics-inprogress"></mat-icon>
      <span class="title">{{ 'task_no_complete' | translate }}</span>
      <span class="f-weight-500" *ngIf="myTaskStatistics">{{ myTaskStatistics.taskCancel }}</span>
    </div>
    <div class="item">
      <mat-icon svgIcon="statistics-cancelled"></mat-icon>
      <span class="title">{{ 'task_daley' | translate }}</span>
      <span class="f-weight-500" *ngIf="myTaskStatistics">{{ myTaskStatistics.taskDaley }}</span>
    </div>
    <div class="item">
      <mat-icon svgIcon="statistics-closed"></mat-icon>
      <span class="title">{{ 'task_ended' | translate }}</span>
      <span class="f-weight-500" *ngIf="myTaskStatistics">{{ myTaskStatistics.taskEnded }}</span>
    </div>
  </div>
</div>


<!-- Ag Grid -->
<ag-grid-angular
  id="myGrid"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [rowData]="myTaskListData"
  [enableRtl]="true"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOptions"></ag-grid-angular>

<!-- Pagination -->
<ag-pagination
  (pageChanged)="onSetPage($event)"
  [pageSize]="paginationOptions.pageSize"
  [lengthData]="paginationOptions.totalCount">
</ag-pagination>
