<!-- Side Housing Info -->
<side-housing-info></side-housing-info>

<!-- Statistics -->
<div class="d-flex-header">
  <div class="statistics">
    <div class="item">
      <mat-icon svgIcon="building-statistics"></mat-icon>
      <span class="title">{{ 'label.housing.all' | translate }}</span>
      <span class="f-weight-500" *ngIf="statistics">{{ statistics.totalCount }}</span>
    </div>
  </div>
  <mat-form-field [dir]="getDirection()" class="input-table">
    <mat-icon matSuffix class="icon" [svgIcon]="getDirection() === 'rtl' ? 'search-right' : 'search-left'"></mat-icon>
    <input matInput (input)="getDeepWithFilter($event)" [placeholder]="'search_for_order' | translate" />
  </mat-form-field>
</div>

<!-- Ag Grid -->
<ag-grid-angular
  id="myGrid"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [enableRtl]="true"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOptions"></ag-grid-angular>

<!-- Pagination -->
<ag-pagination
  (pageChanged)="onSetPage($event)"
  [pageSize]="paginationOptions.pageSize"
  [lengthData]="paginationOptions.totalCount">
</ag-pagination>
