<div class="form-section">
  <form novalidate [formGroup]="formGroup('mainData')">
    <div class="section-card">
      <div class="title mb-1">
        <mat-icon class="icon-title" svgIcon="System-settings"></mat-icon>
        <span>{{ 'label.setting.rental_prices' | translate }}</span>
      </div>
      <div class="row-flex-division">
        <mat-custom-field
          (validitySearchableOptionHandler)="watchIfDataNeedToClear($event)"
          apiEndpoint="Country/GetCountries"
          controlName="countryId"
          label="setting.fields.country"
          type="searchableSelect"
          [selectValueAsObject]="false"
          [group]="formGroup('mainData')">
        </mat-custom-field>
        <mat-custom-field
          controlName="jobId"
          label="setting.fields.career"
          type="select"
          [group]="formGroup('mainData')"
          [callApiFunction]="fetchAllJobsSearchableSelect">
        </mat-custom-field>

        <ng-container *ngIf="isLoading; then strokedButton; else raisedButton"></ng-container>
        <ng-template #raisedButton>
          <button
            mat-raised-button
            color="primary"
            class="f-size-14 f-weight-500 btn-field-stander add-button"
            type="submit"
            [disabled]="!rentPriceForm.get('mainData')?.valid"
            (click)="saveRentPrice()">
            {{ 'buttons.save' | translate }}
          </button>
        </ng-template>

        <ng-template #strokedButton>
          <button
            mat-stroked-button
            color="primary"
            class="f-size-14 f-weight-500 btn-field-stander add-button"
            disabled>
            <mat-spinner [diameter]="30"></mat-spinner>
          </button>
        </ng-template>
      </div>
    </div>
  </form>
  <ag-grid-angular
    id="myGrid"
    class="ag-theme-alpine grid"
    [columnDefs]="columnDefs"
    [enableRtl]="true"
    (gridReady)="onGridReady($event)"
    [rowData]="rentPriceCountry?.prices"
    [gridOptions]="gridOptions"></ag-grid-angular>
  <ag-pagination
    [pageSize]="paginationOptions.pageSize"
    [lengthData]="paginationOptions.totalCount"
    (pageChanged)="onSetPage($event)"></ag-pagination>
</div>
<button
  [disabled]="!rentPriceForm.get('mainData')?.get('countryId')?.valid"
  mat-stroked-button
  color="primary"
  class="f-size-14 f-weight-500 btn-field-stander"
  type="submit"
  (click)="addRecord()">
  {{ 'buttons.record' | translate }}
</button>
