<!-- Statistics -->
<div class="d-flex-header">
  <!-- Search -->
  <mat-form-field [dir]="getDirection()" class="input-table w-90">
    <input matInput (input)="getDeepWithFilter($event)" placeholder="{{ 'search_for_sms' | translate }}" />
    <mat-icon matSuffix class="icon" [svgIcon]="getDirection() === 'rtl' ? 'search-right' : 'search-left'"></mat-icon>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    class="ml-2 w-10"
    (click)="openEmailForm()"
    authorization
    [roleValue]="role"
    [authName]="authCanAdd">
    {{ 'buttons.add' | translate }}
  </button>
</div>

<!-- Ag Grid -->
<ag-grid-angular
  id="myGrid"
  authorization
  roleCss="block"
  [roleValue]="role"
  [enableRtl]="true"
  [rowData]="listData"
  [authName]="authCanView"
  [columnDefs]="columnDefs"
  [gridOptions]="gridOptions"
  class="ag-theme-alpine grid"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>

<!-- Ag Pagination -->
<ag-pagination
  authorization
  [roleValue]="role"
  [authName]="authCanView"
  [pageSize]="paginationOptions.pageSize"
  [lengthData]="paginationOptions.totalCount"
  (pageChanged)="onSetPage($event)"></ag-pagination>
