:host {
  min-width: 80%;
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
.code {
  margin-top: 52px !important;
}
button {
  margin-top: 129px;
}
.hint {
  font-weight: 500;
  font-size: 10px;
  color: var(--primary-color);
  padding: 0 0.5rem;
}
