<mat-dialog-content class="toast">
  <form novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div class="toast-container">
      <!-- Header -->
      <div class="toast-header bg-white p-2">
        <nav-breadcrumb [child]="editData.update ? 'label.complaints.update' : 'label.complaints.add'"></nav-breadcrumb>
        <mat-icon svgIcon="close" class="c-pointer" (click)="closeDialog(null)"> </mat-icon>
      </div>
      <div class="bg-body p-3">
        <div class="contant bg-white p-2">
          <!-- Body -->
          <div class="toast-content">
            <div class="row-flex-division">
              <mat-custom-field
                controlName="customerId"
                apiEndpoint="Customer/GetCustomersSelect"
                label="field.complaints.customer_name"
                type="searchableSelect"
                [group]="form">
              </mat-custom-field>
              <mat-custom-field
                controlName="statusId"
                label="field.complaints.problem_status"
                [callApiFunction]="fetchComplaintsStatus"
                type="select"
                [group]="form">
              </mat-custom-field>
            </div>
            <mat-spinner *ngIf="isGetCustomer && !customerDetails" [diameter]="20"></mat-spinner>
            <div class="section" *ngIf="!isGetCustomer && customerDetails">
              <div class="row mb-2 d-flex">
                <div class="col d-flex flex-column flex-1">
                  <mat-label class="label f-size-12">{{ 'customer_name_arabic' | translate }}</mat-label>
                  <span class="mt-1">{{ customerDetails.nameAr }}</span>
                </div>
                <div class="col d-flex flex-column flex-1">
                  <mat-label class="label f-size-12">{{ 'customer_name_english' | translate }}</mat-label>
                  <span class="mt-1">{{ customerDetails.nameEn }}</span>
                </div>
                <div class="col d-flex flex-column flex-1">
                  <mat-label class="label f-size-12">{{ 'email' | translate }}</mat-label>
                  <span class="mt-1">{{ customerDetails.email }}</span>
                </div>
              </div>
            </div>
            <div class="row-flex-division">
              <mat-custom-field
                [disabled]="true"
                controlName="solutionDays"
                label="field.complaints.problem_solve_day_count"
                type="number"
                [group]="form">
              </mat-custom-field>
            </div>
            <mat-custom-field
              controlName="description"
              label="field.complaints.description"
              type="textarea"
              [group]="form">
            </mat-custom-field>
            <mat-custom-field
              controlName="suggestedSolution"
              label="field.complaints.suggested_solution"
              type="textarea"
              [group]="form">
            </mat-custom-field>
            <mat-custom-field
              controlName="finalSolution"
              label="field.complaints.final_solve"
              type="textarea"
              [group]="form">
            </mat-custom-field>
          </div>
          <!-- Footer -->
          <div class="toast-footer d-flex align-center gap-1">
            <!-- Submit -->
            <button [disabled]="!form.valid" mat-raised-button color="primary" class="mt-3 p-3" type="submit">
              {{ 'buttons.save' | translate }}
            </button>

            <!-- cancel -->
            <button mat-stroked-button color="primary" class="mt-3 p-3" type="button" (click)="closeDialog(null)">
              {{ 'buttons.cancel' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
