<app-loader-data *ngIf="loadingData"></app-loader-data>
<form novalidate [formGroup]="salesFrom">
  <div class="form-section">
    <!-- Adding Bill Form -->
    <div class="section-card">
      <div class="title mb-1">
        <mat-icon class="icon-title" svgIcon="rent"></mat-icon>
        <span>
          {{ !salesId ? ('label.financial.add_bill' | translate) : ('label.financial.update_bill' | translate) }}
        </span>
      </div>
      <div class="row-flex-division-4">
        <mat-custom-field
          controlName="billNumber"
          label="field.financial_management.billNumber"
          type="number"
          [group]="salesFrom"
          [disabled]="true">
        </mat-custom-field>

        <mat-custom-field controlName="date" label="field.financial_management.date" type="date" [group]="salesFrom">
        </mat-custom-field>

        <mat-custom-field
          controlName="typeId"
          label="field.financial_management.billType"
          type="select"
          [callApiFunction]="getBillTypes"
          [group]="salesFrom">
        </mat-custom-field>

        <mat-custom-field
          apiEndpoint="Customer/GetCustomersSelect"
          [selectValueAsObject]="true"
          controlName="customerId"
          label="customer_name"
          type="searchableSelect"
          [group]="salesFrom">
        </mat-custom-field>

        <!-- Payment Type -->
        <mat-custom-field
          *ngIf="billTypeValue == 2"
          controlName="paymentDestination"
          label="payment_method"
          type="select"
          [callApiFunction]="getPaymentDestinations"
          [group]="salesFrom">
        </mat-custom-field>
      </div>

      <!-- Bill Type Options -->
      <div class="row-flex-division-1" *ngIf="paymentMethodValue == 1 && billTypeValue == 2">
        <!-- Payment Method Cash Strategy -->
        <mat-custom-field
          controlName="store"
          label="storage_financial"
          type="searchableSelect"
          apiEndpoint="Store/GetStoreSelect"
          [group]="salesFrom">
        </mat-custom-field>
      </div>
      <div class="row-flex-division-2" *ngIf="paymentMethodValue == 2 && billTypeValue == 2">
        <!-- Payment Method Transferring Strategy -->
        <!-- Bank -->

        <mat-custom-field
          controlName="bank"
          label="bank"
          type="searchableSelect"
          apiEndpoint="Bank/GetBanksSelect"
          [group]="salesFrom">
        </mat-custom-field>

        <!-- Transfer date -->

        <mat-custom-field
          controlName="dateTransfer"
          label="field.financial_management.date_transfer"
          type="date"
          [group]="salesFrom">
        </mat-custom-field>
      </div>
      <div class="row-flex-division" *ngIf="paymentMethodValue == 3 && billTypeValue == 2">
        <!-- Payment Method Check Strategy -->

        <!-- Check Number -->
        <mat-custom-field controlName="checkNumber" label="check_number" type="number" [group]="salesFrom">
        </mat-custom-field>

        <!-- Check Benefit Date -->
        <mat-custom-field controlName="checkDueDate" label="dateBenefitCheck" type="date" [group]="salesFrom">
        </mat-custom-field>

        <!-- Bank -->
        <mat-custom-field
          controlName="bank"
          label="bank"
          type="searchableSelect"
          apiEndpoint="Bank/GetBanksSelect"
          [group]="salesFrom">
        </mat-custom-field>
      </div>
      <div class="row-flex-division-1" *ngIf="paymentMethodValue == 4 && billTypeValue == 2">
        <!-- Payment Method Network Strategy -->
        <!-- Network Number -->
        <mat-custom-field
          controlName="network"
          label="network_number"
          type="searchableSelect"
          apiEndpoint="Network/GetNetworksSelect"
          [group]="salesFrom">
        </mat-custom-field>
      </div>
    </div>

    <!-- Table -->
    <div class="section-card">
      <div class="title mb-1">
        <span>{{ 'field.financial_management.services_table' | translate }}</span>
      </div>
      <div class="stepper-actions service">
        <button mat-raised-button color="primary" class="mt-3" (click)="openAddService()">
          <span>
            {{ 'buttons.service_add' | translate }}
          </span>
        </button>
      </div>

      <!-- Ag Grid -->
      <ag-grid-angular
        id="myGrid"
        style="height: 50vh"
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [rowData]="rowData"
        [enableRtl]="true"
        (gridReady)="onGridReady($event)"
        [gridOptions]="gridOptions"></ag-grid-angular>

      <!-- Pagination -->
      <ag-pagination
        (pageChanged)="onSetPage($event)"
        [pageSize]="paginationOptions.pageSize"
        [lengthData]="paginationOptions.totalCount">
      </ag-pagination>
    </div>
  </div>

  <!-- Actions -->
  <div class="stepper-actions">
    <ng-container *ngIf="isLoading; then strokedButton; else raisedButton"></ng-container>
    <ng-template #raisedButton>
      <button
        mat-raised-button
        [disabled]="!salesFrom.valid"
        color="primary"
        class="mt-3"
        (click)="!salesId ? addSales() : updateSales()">
        <span *ngIf="!salesId">
          {{ 'buttons.save' | translate }}
        </span>
        <span *ngIf="salesId">
          {{ 'buttons.update' | translate }}
        </span>
      </button>
    </ng-template>

    <ng-template #strokedButton>
      <button mat-stroked-button color="primary" class="f-size-14 f-weight-500" disabled>
        <mat-spinner [diameter]="30"></mat-spinner>
      </button>
    </ng-template>
  </div>
</form>
