<mat-sidenav-container class="side-nav-container" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" position="end" class="side-nav" [dir]="getDirection()">
    <div class="title mb-1 d-flex justify-between">
      <nav-breadcrumb child="label.waiver.info"></nav-breadcrumb>
      <mat-icon svgIcon="close" class="c-pointer" (click)="closeSideNav()"></mat-icon>
    </div>

    <div class="details">
      <div *ngIf="isLoading" class="loader">
        <mat-spinner color="primary" [diameter]="50"></mat-spinner>
      </div>
      <div class="section" *ngIf="!isLoading && waiverData">
        <div class="row mb-2 d-flex">
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'order_date' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.requestDate | timezoneToDate }}</span>
          </div>
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'order_number' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.requestNumber }}</span>
          </div>
        </div>
        <div class="row mb-2 d-flex">
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'customer_name' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.customer?.name }}</span>
          </div>
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'worker_name' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.worker?.name }}</span>
          </div>
        </div>
        <div class="row mb-2 d-flex">
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'surety_transfer_amount' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.transferAmount }}</span>
          </div>
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'tax' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.taxType?.name }}</span>
          </div>
        </div>
        <div class="row mb-2 d-flex">
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'tax_amount' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.taxAmount }}</span>
          </div>
          <div class="col d-flex flex-column flex-1">
            <mat-label class="label f-size-12">{{ 'net_tax' | translate }}</mat-label>
            <span class="mt-1">
              {{ waiverData.taxAmount + waiverData.transferAmount }}
            </span>
          </div>
        </div>
        <div class="row mb-2 d-flex">
          <div class="col d-flex flex-column" style="width: 100%">
            <mat-label class="label f-size-12">{{ 'comments' | translate }}</mat-label>
            <span class="mt-1">{{ waiverData.note }}</span>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
