<!-- Search -->
<div class="complaints">
  <mat-form-field [dir]="getDirection()" class="input-table">
    <input matInput (input)="getDeepWithFilter($event)" placeholder="{{ 'search_for_specific_complaint' | translate }}" />
    <mat-icon
      matSuffix
      class="icon"
      [svgIcon]="getDirection() === 'rtl' ? 'search-right' : 'search-left'"></mat-icon>
  </mat-form-field>

  <button mat-raised-button color="primary" class="btn" (click)="addStore()">
    <span>{{ 'label.complaints.add' | translate }}</span>
  </button>
</div>
<!-- Ag Grid -->
<ag-grid-angular
  id="myGrid"
  class="ag-theme-alpine complaints-grid"
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [enableRtl]="(direction.direction$ | async) === 'rtl' ? true : false"
  (gridReady)="onGridReady($event)"
  [gridOptions]="gridOptions"></ag-grid-angular>
<!-- Pagination -->
<ag-pagination
  (pageChanged)="onSetPage($event)"
  [pageSize]="paginationOptions.pageSize"
  [lengthData]="paginationOptions.totalCount">
</ag-pagination>
