:host {
  min-width: 80%;
  max-width: 90%;
  display: block;
  margin: 0 auto;
}
.forgot-field {
  margin-top: 3.125rem !important;
}
button {
  margin-top: 8.125rem;
}
.hint {
  font-weight: 500;
  font-size: 10px;
  color: var(--primary-color);
  margin: 0;
  margin-top: 1rem;
}
