<h1 class="text-center">{{ 'forget_password_title' | translate }}</h1>

<p>{{ 'email_phone_input' | translate }}</p>

<form novalidate [formGroup]="forgetPasswordForm" (ngSubmit)="sendEmail()">
  <mat-custom-field class="forgot-field" label="email" controlName="email" type="email" [group]="forgetPasswordForm">
  </mat-custom-field>

  <p class="hint f-weight-500 f-size-10" flipDirection>
    {{ 'send_code_to_email' | translate }},
    <a href="mailto:" class="underline">{{ 'please_check_email' | translate }}</a>
  </p>

  <ng-container *ngIf="loading; then strokedButton; else raisedButton"></ng-container>
  <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

  <ng-template #raisedButton>
    <button
      mat-raised-button
      color="primary"
      class="f-size-14 f-weight-500"
      type="submit"
      [disabled]="!forgetPasswordForm.valid">
      <span> {{ 'send' | translate }}</span>
    </button>
  </ng-template>

  <ng-template #strokedButton>
    <button mat-stroked-button color="primary" class="f-size-14 f-weight-500 d-flex" disabled>
      <mat-spinner [diameter]="30"></mat-spinner>
      <span> {{ 'send' | translate }}</span>
    </button>
  </ng-template>
</form>

<div class="mt-2 text-center f-size-10">
  <a class="f-weight-700 mt-2" [routerLink]="['../login']">
    <span class="text-black f-weight-500"> {{ 'back_to' | translate }}</span>
    {{ 'login' | translate }}
  </a>
</div>
