@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.ag-theme-alpine {
  --ag-foreground-color: var(--accent-color);
  --ag-background-color: transparent;
  --ag-header-foreground-color: var(--white);
  --ag-header-background-color: var(--light-primary-color);
  --ag-header-column-resize-handle-color: var(--white);
  --ag-borders: none;
  --ag-grid-size: 5px;
  --ag-row-height: 35px;
  --ag-font-size: 15px;
  --ag-font-family: 'Tajawal', sans-serif;
  --ag-data-color: var(--text-color);
  --ag-row-hover-color: var(--light-hover-grid-color);
  width: 100%;
  height: 80%;
  margin-bottom: 8px;

  // ?I'm applying the row styles in (.ag-row) class below
  // --ag-odd-row-background-color: var(--white);
  // --ag-list-item-height: 100px;
  // --ag-card-radius: 4px;
  // --ag-card-shadow: box-shadow: 0px 4px 4px rgba(189, 189, 189, 0.15);
  // --ag-popup-shadow: var(--ag-card-shadow);
  // --ag-tab-min-width: 350px;

  .ag-row-hover {
    .ag-cell-value {
      color: var(--white);
      button {
        .mat-icon {
          svg {
            path {
              fill: var(--white) !important;
            }
          }
        }
      }
    }
  }

  .ag-header-group-cell,
  .ag-header-cell {
    font-weight: 700;
    font-size: 15px;
  }

  .ag-menu {
    overflow: visible;
  }

  .ag-row {
    background-color: var(--white);
  }

  .ag-popup {
    height: 0 !important;
  }

  // .ag-header-container {
  //   width: 100% !important;

  //   .ag-header-row.ag-header-row-column {
  //     min-width: 1200px !important;
  //   }
  // }

  // .ag-center-cols-container {
  //   min-width: 1200px !important;
  // }
}
