<h2 class="title-char">{{ 'label.refund.title' | translate }}</h2>
<div class="cards">
  <div class="card">
    <div class="card-body">
      <div class="title">
        <div class="icon icon-shape">
          <mat-icon svgIcon="note"></mat-icon>
        </div>
        <h6>{{ 'number_contract_recovery' | translate }}</h6>
      </div>
      <span>{{ refundStatistics ? refundStatistics.refundCount : 0 }}</span>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="title">
        <div class="icon icon-shape">
          <mat-icon svgIcon="note"></mat-icon>
        </div>
        <h6>{{ 'number_contract_alternative_contract' | translate }}</h6>
      </div>
      <span>{{ refundStatistics ? refundStatistics.replacementCount : 0 }}</span>
    </div>
  </div>
</div>
<section id="refund-section">
  <div class="chart-container">
    <div class="d-flex flex-column">
      <div class="card-header border-0">
        <h4>{{ 'number_contracts_according_customer_procedure' | translate }}</h4>
      </div>
      <div class="chart">
        <canvas #pieChartTypeRefund></canvas>
      </div>
    </div>
  </div>
</section>
